<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" %>
    <%= stylesheet_link_tag "http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.0.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js" %>
    <%= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
